<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Exercise Two - Server-side cookies</title>
    <link rel="stylesheet" href="./css/site.css">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" --}}
{{!-- crossorigin="anonymous"> --}}





</head>

<body>

<!--<div class="container">-->
<!--    <nav class="navbar navbar-default">-->
<!--        <div class="container-fluid">-->

<!--            <div >-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li ><a href="/">Home <span class="sr-only">(current)</span></a></li>-->
<!--                    <li ><a href="/login">Login</a></li>-->
<!--                    <li ><a href="/new-account">new-account</a></li>-->
<!--                </ul>-->
<!--                <ul class="nav navbar-nav">-->

<!--                    <li ><a href="/login">account-management</a></li>-->

<!--                </ul>-->
<!--            </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->

<!--        </div>-->
<!--    </nav>-->
<!--</div>-->
{{{body}}}
</body>

</html>