

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse"  role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> HOME</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              {{#if user}}
                    <li>&nbsp;&nbsp;
                     {{#if user.avatar}}
                     <img class="avatar" src="{{user.avatar}}" />
                     {{else}}
                     <span class="glyphicon glyphicon-user"></span>
                     {{/if}}
                     WELCOME {{user.name}}</li>
                    <li><a href="/account_management"><span class="glyphicon glyphicon-log-in"></span> EDIT</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LOGOUT</a></li>
              {{else}}
                    <li><a href="/newAccount"><span class="glyphicon glyphicon-user"></span> REGISTER</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
              {{/if}}
            </ul>
        </div>
    </nav>
    <br/>
    <br/>
    <br/>
    <br/>



<div class="container">
<h1>New Article</h1>
    <form action="/createArticle" method="POST">
        <div class="flex-col mb">
            <label for="txtTitle">Title:</label>
            <input type="text" name="title" id="txtTitle" required>
        </div>
        <div class="flex-col mb">
            <label>Content:</label>
            <textarea name="content" id="editor"></textarea>
        </div>
        <div class="flex-row justify-sb align-center">
            <button type="submit">Create article</button>
        </div>
    </form>

</div>



{{!-- <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script> --}}
<script src="build/ckeditor.js"></script>
<script>

ClassicEditor
    .create( document.querySelector( '#editor' ), {
        //plugins: [ Essentials, Paragraph, Bold, Italic ],
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'imageUpload' ],
        ckfinder: {
                    uploadUrl: '/upload' // the track of picture uploaded
                },
    } )
//     .then(editor => {
//         window.editor = editor;
//         data = editor.getData();
//         console.log(data);
//         } )
//     .catch(error => {
//             console.log(error);
//         } );
    .then( editor => {
        console.log( 'Editor was initialized', editor );
    } )
    .catch( error => {
        console.error( error.stack );
    } );

</script>

