

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        /* add some css trait*/
        .container {
            width: 300px;
            margin: auto;
            padding: 20px;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .error {
            color: red;
            font-size: 0.8em;
        }
    </style>
</head>
<body>
<div class="container">





    <h2>login </h2>

    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}

    <form action="/login" method="post">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">login</button>
        <button type="submit">register222</button>

    </form>
</div>
</body>
</html>
